[Unit]
Description=Start ROS2 teleop nodes on 20-second timer

[Timer]
OnBootSec=20s
Unit=teleop-joy-startup.service

[Install]
WantedBy=multi-user.target
